<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :barcode_type %>
    <%= f.select :barcode_type, ['Code128A', 'Code128B', 'Code128C'] %>
  </div>
  <div class="field">
    <%= f.label :barcode %>
    <%= f.text_field :barcode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
