<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Barcode Text</th>
      <th>Barcode Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.barcode %></td>
      <td><%= image_tag("/Barcodes/" + barcode_image_uri(product.barcode, product.barcode_type)) %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
